/* Carousel */
.slider {
    margin-top: -100px;
    width: 100%;
    height: var(--height);
    overflow: hidden;
    background-color: #f8f8f8;
    mask-image: linear-gradient(
        to right, transparent, #000 20% 60%, transparent
    );
}

.slider .list {
    width: 100%;
    height: 100%;
    position: relative;
}

.slider .list .item {
    width: 100%;
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: slide 30s linear infinite;
    animation-delay: calc( (30s / var(--quantity)) * (var(--position) - 1) * -1 );
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    padding: 0 1rem;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon i {
    font-size: 0.9rem;
    color: var(--accent);
    vertical-align: middle;
    margin-left: 65px;
}

@keyframes slide {
    0% {
        left: 100%;
    }
    100% {
        left: -100%;
    }
}

.slider:hover .item {
    animation-play-state: paused!important;
}