.main-footer {
    background-color: #000;
    color: #ffffff;
    padding: 20px 0;
    width: 100%;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-brand {
    display: flex;
    align-items: center;
    gap: 20px;
}

.brand-name {
    font-weight: 600;
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}

.social-icons {
    display: flex;
    gap: 15px;
    margin-left: 50px;
}

.social-icons a {
    color: #ffffff;
    font-size: 1.2rem;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.social-icons a:hover {
    transform: scale(1.1);
}


.footer-copyright p {
  font-size: 0.9rem;
  margin: 0;
  opacity: 0.9;
  cursor: pointer;
}