/* === Navegação === */
.navbar {
    position: fixed;
  width: 100%;
  height: 70px;
  background: #0e0e0e;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.nav-container {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 0 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO */
.nav-logo {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  color: #fff;
  font-weight: 600;
  font-size: 1.1rem;
  cursor: pointer;
}

.logo-dot {
  width: 12px;
  height: 12px;
  background: linear-gradient(135deg, #6c63ff, #a855f7);
  border-radius: 50%;
}

/* LINKS */
.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links a {
  color: #cfcfcf;
  text-decoration: none;
  font-size: 0.95rem;
  transition: transform 0.3s ease;
}

.nav-links a:hover {
    transform: translateY(-2px);
    color: #fff;
}

/* ACTIONS */
.nav-actions {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.nav-actions i {
  color: #cfcfcf;
  font-size: 1rem;
  cursor: pointer;
}

.nav-actions i:hover {
  color: #fff;
}

/* CONTACT BUTTON */
.btn-contact {
  background: linear-gradient(135deg, #928dff, #a855f7);
  color: #fff;
  padding: 0.6rem 1.3rem;
  border-radius: 999px;
  text-decoration: none;
  font-size: 0.9rem;
  transition: transform 0.3s, box-shadow 0.3s;
}

.btn-contact:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(108, 99, 255, 0.35);
}
